<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="../../css/home.css">
</head>

<body>
    <!-- Customize this page -->
    {{>nav}}
    <h1 style="display: block; text-align: center; width: 100%; font-size: 40px;">{{title}}</h1>
    <a href="/home" id="return-home"><p>Return to Home</p></a>
</body>

</html>