<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Alice:400">
    <link rel="stylesheet" href="../../css/home.css">
  </head>
  <body>
    {{>nav}}
    <div class="sections">
      <h1>{{title}}</h1>
    </div>
    <form class="sections">
      <input class = "placeholder-box" placeholder="This is placeholder">
      <select class = "qualifications">
        <option> Language </option>
        <option> Option 1 </option>        
        <option> Option 2 </option>
        <option> Option 3 </option>
        <option> Option 4 </option>
      </select>
      <select class = "qualifications">
        <option> Location </option>
        <option> Option 1 </option>        
        <option> Option 2 </option>
        <option> Option 3 </option>
        <option> Option 4 </option>
      </select>
      <select class = "qualifications">
        <option> Service </option>
        <option> Option 1 </option>        
        <option> Option 2 </option>
        <option> Option 3 </option>
        <option> Option 4 </option>

      </select>
      <select class = "qualifications">
        <option> Rating </option>
        <option> Option 1 </option>        
        <option> Option 2 </option>
        <option> Option 3 </option>
        <option> Option 4 </option>
      </select>
       <select class = "qualifications">
        <option> Certification </option>
        <option> Option 1 </option>
        <option> Option 2 </option>
        <option> Option 3 </option>
        <option> Option 4 </option>
      </select>
    </form>
    <button class ="search-button"> Submit </button>
    
    <h3 id = "search-prompt"> Search for an Interpretor By Category! </h3>
 
  </body>
</html>