<nav>
    <a href="/home"><img src="img/iiLogo.svg" alt="Indigenous Interpreters"></a>
    <ul>
        <!-- include link to these pages & events -->        
        <li><a href="/webinar">Webinar</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/event"> Events</a></li>
        <li><a href="/search">Search</a></li>        
        <li><a href="/profile">Profile</a></li>
        <li class="menu-text"><a href="/login">Log in</a></li>
        {{!-- <li><a href="/home">Home</a></li> --}}
    </ul>
</nav>